*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
    background: #fbc02d;
    color:#4e342e;
}
header{
    background: #fbc02d;
    text-align:center;
    padding:18px;
    border-bottom:4px;
}


nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    padding:15px;
    background:#fbc02d;
}

nav a{
    text-decoration:none;
    background:#fff176;
    color:#4e342e;
    padding:10px 14px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;

}

nav a:hover{
    background:#6d4c41;
    color:white;
    transform:translateY(-3px);
}
.home{
    text-align:center;
    padding:40px 20px;
}

.menu-container{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
    padding:20px;
}

.card{
    background:#fff8e1;
    padding:18px;
    border-radius:14px;
    border:2px solid #6d4c41;
    text-align:center;
    transition:.3s;
    box-shadow:4px 4px #bcaaa4;

}

.card:hover{
    transform:scale(1.03);
    box-shadow:7px 7px #8d6e63;
}

.price{
    color:#d84315;
    font-size:20px;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:15px;
}
.card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius:10px ;
    margin-bottom:12px ;
}
.logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.logo-area img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius:50% ;
    border: 3px solid #6d4c41;
    background: white;
}
.social-icons{

    display:flex;

    justify-content:center;

    gap:15px;

    margin:20px 0;

}

.social-icons a img{
    width:45px;
    height:45px;
    object-fit:cover;
    border-radius:50%;
    background:white;
    padding:6px;
    transition:0.3s;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.social-icons a img:hover{
    transform:scale(1.15);
}
@media(min-width:700px){
    .menu-container{
        grid-template-columns:repeat(2,1fr);

    }

}